bandit==1.9.2
bitarray==2.8.2
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
packaging==25.0
pdfreader==0.1.12
pdfrw==0.4
Pillow==10.1.0
pluggy==1.6.0
pycryptodome==3.19.0
Pygments==2.19.2
PyPDF2==3.0.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pytest==9.0.1
python-dateutil==2.8.2
PyYAML==6.0.3
reportlab==4.0.6
rich==14.2.0
setuptools==68.2.2
six==1.16.0
stevedore==5.6.0
Werkzeug==3.1.4
wheel==0.41.3
Flask==3.1.2
pytest==9.0.1
pytest-html==4.1.1
